{%load static%}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  width:100%;
}

h2{
    text-align: center;
    color: #FFA07A;
}
#tb-div {
  box-shadow:0 0 10px goldenrod;
  width: fit-content;
  border-radius: 10px;
  height: inherit;
  margin: auto;
  top: 10px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
}
th, td {
  padding: 15px;
  text-align: left;
}
#details-table tr:nth-child(odd) {
  background-color: #eee;
}
#details-table th {
  background-color:rgb(36, 163, 36);
  color:black;
}
</style>
</head>
<body>
<div id=main-div>
  {% if no_zip_dist_detail.0 %}
    <h2>Looks like you drove very far. No data for given Pin available.</h2>
  {% elif no_zip_dist_detail.1 %}
    <h2>No zip codes available for given distance</h2>
  {% elif no_zip_dist_detail.2 %}
    <h2>No details available for given zip and distance</h2>
  {% else %}
  <h2>Here are your probable Soul Cars. Happy Driving with VinAudit!!!</h2>
  <div id=tb-div>
    <table id="details-table">
      <tr>
        {%for heading in details.columns %}
        <th>{{heading}}</th>
        {% endfor %}
      </tr>
      {% for val in details.values %}
      <tr>
          {%for i in val %}
            <td>{{i}}</td>
          {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
</div>
</body>
</html>
